Requirements for Type Checker rewrite.

* New (sML) record operations

* Exploit new computational resources (do more work)

* Survey related literature
  - HMX (Remy, TIPL 2)

* Fix all known type checker bugs

* Revamp error mechanisms
  - type error infrastructure
  - type error ordering
  - identifying clashes in "large" types
  - when printing two types, make sure that equal type are represented with the same
    names
  - add control flag to adjust amount of feedback detail
  - add control to limit number of error messages (i.e., >25 is "too many errors")

* printing types
  - avoid "?"
  - special cases for "built-in" types

* making implicit (user-) type variable bindings explicit in absyn

* type error catalog

* explanation of notations in type error messages

